!*.ori
/*custom*/
!/custom_example/
/setups/
/setups_example/*
!/setups_example/README.md
*.local.*
!/adm/custom/setup.senv.local.pre.bat
/setups.ori
profile
driveLetter.bat
driverLetter.bat
a
a.*
tmp*
*.tmp
*.sha1
old/
man_*.txt
path_temp.txt
wildfly_mgmt_user.txt
wildfly*.log

mods_i*
